@font-face{
    font-family: "fonti";
    src: url(./fonts/NunitoSans_7pt-SemiBold.ttf);
}
@font-face{
    font-family: "fonti2";
    src: url(./fonts/NunitoSans_10pt_Condensed-ExtraBold.ttf);
}
body{
    display: flex;
}
/*         Header         */
.header{
    background-image: url(./img/illustration\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 830px;
    height: 809px;
    border-radius: 16px 0px 0px 16px;
    border: 1px solid white;
 
    
    
}
.title{
    margin-top: 680px;
    
}
.title1{
    color: #73114B;

font-family: "fonti2";
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 280px;


}
.title2{
    color: #73114B;

font-family: "fonti";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 210px;
}
/*         სარეგისტრაციო ფორმა         */
.register{
width: 511px;
height: 809px;

flex-shrink: 0;
align-items: center;
background-image: url(./img/icon.png);
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 20%;
}
.register2{
    width: 320px;
    height: 100px;
    margin-top: 250px;
    margin-left:90px;
}
.title3{
    color: #525252;

font-family: "fonti";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.title4{
    color: #525252;

font-family: "fonti";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.google{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    text-align: center;
    background-image: url(./img/image\ 2.png);
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
input::placeholder{
    color: var(--Gray-3, #828282);
    font-family:"fonti";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.title5{
    color: #A1A1A1;
    font-family: "fonti";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 40px;

}
.form{
    position: relative;
    margin-top: 120px;
    background-color: white;
    height: 70px;
    margin-left: 90px;
    
}
.title6{
    color: var(--Gray-3, #828282);
    font-family: "fonti";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
}
.my-email{
    width: 350px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DED2D9;
    
    
}
input::placeholder{
    color: var(--Gray-5, #E0E0E0);
    font-family: "fonti";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
img{
    position: absolute;
    bottom:  -35px;
    right: 10px; 
}
.form2{
    position: relative;
    margin-left: 90px;
    
    
}
.title7{
    color: var(--Gray-3, #828282);
    font-family: "fonti";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    
}
.my-pass{
    width: 350px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DED2D9;
    
}
.key{
    position: absolute;
    right: 20px;
    margin-top: 0;
    bottom: -46px;
}
.check{
    width: 410px;
    height: 50px;
    background-image: url(./img/Check.png);
    background-repeat: no-repeat;
    margin-top: auto;
    display: flex;
    margin-top: 10px;
    margin-left: 90px;
}
.title8{
    color: #A1A1A1;

font-family: "fonti";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
margin-left: 20px;
}
.title9{
    color: #7F265B;

    font-family: "fonti";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 150px;
}
button{
    width: 360px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background: #7F265B;
    color: #FFF;
    font-family: "fonti";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 90px;
}
.footer{
    width: 300px;
    height: 40px;
    margin-top: 40px;
    margin-left: 140px;
}
.title10{
    color: var(--Gray-3, #828282);
font-family: "fonti";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.title11{
    color: #7F265B;
font-family: "fonti";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}